# Dependencies
node_modules/

# Build outputs
dist/
*.tsbuildinfo

# Env
.env
.env.local

# Prisma
prisma/*.db

# Logs
*.log
npm-debug.log*

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
.vercel
.env*.local
